.expense-chart {
  margin-top: 2rem;
  background-color: rgb(226, 225, 225);
  padding: 1rem;
  position: relative;
}

.close-icon-div {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px;
}

.close-icon-div ion-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
