.expenses {
  padding-top: 0 !important;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 0.75rem;
  transform-style: preserve-3d;
}

.no-expenses {
  grid-column: 1/-1;
  text-align: center;
  /* background-color: aqua; */
  color: rgb(107, 107, 107);
  padding: 1rem 0 0 1rem;
  font-size: 24px;
}

.expense-wrapper {
  padding-top: 0rem !important;
}
