* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  margin: 0;

  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
  background: #ffffff;
  color: rgb(20, 20, 20);
  overflow-y: scroll;
}
s code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.wrapper {
  width: 1124px !important;
  margin: 0 auto !important;
  padding: 0 24px;
}

@media (max-width: 1150px) {
  .wrapper {
    width: 868px !important;
  }
}

@media (max-width: 500px) {
  .expenses {
    grid-template-columns: 1fr 1fr !important;
  }
  .navlist {
    display: none !important;
  }
}
